#logo
{
    width:50px;
    height:50px;
    margin:10px;
}
#home
{
    font-size:20px;
    margin-right:20px;
    color:black;
    text-decoration-color: blue;
    
}
#menu
{
    justify-content:space-between;
}
#about
{
    font-size:20px;
    color:#ccc;
    margin-right:20px;
}
#topbar
{
    display:flex;
    align-items:center;
    position: sticky;
    justify-content:space-between;
    font-family:'Poppins',sans-serif;
}
#btn
{
    padding:15px;
    border-radius:18px;
    
    background-color:pink;
    color:blue;
    border:none;
}
#heading
{
    font-size:25px;
    font-family: 'Poppins',sans-serif;
   margin-left: 20px;

}
#pull
{
    font-size:10px;
    color:blue;
    
}
#heading
{
    
    justify-content:space-between;
}
#sub
{
    font-size:20px;
    

}
#btn-acc
{
    padding:20px;
    border-radius:20px;
    border:none;
    background-color:blue;
    color:#fff;
    text-align:center;
    width:150px;
}
#tick
{
    margin-left:50px;
    margin-top:20px;
    margin-right:15px;
 
}
#first
{
    display:flex;
    margin:auto;
}
#first1
{
    display:flex;
    margin:auto;

}
#firstline
{
    display:flex;
    text-align:center;
    box-shadow:8px 6px 4px gray;
    width:350px;
    height: 50px;
}
#x
{
    display:flex;
    justify-content:space-between;
}


#second
{
    display:flex;
    margin:auto;
}
#second1
{
    display:flex;
    margin:auto;

}
#secondline
{
    display:flex;
    text-align:center;
    box-shadow:8px 6px 4px #ccc;
    width:350px;
    height: 50px;
}


#third
{
    display:flex;
    margin:auto;
}
#third1
{
    display:flex;
    margin:auto;

}
#thirdline
{
    display:flex;
    text-align:center;
    box-shadow:8px 6px 4px gray;
    width:350px;
    height: 50px;
}







#fourth
{
    display:flex;
    margin:auto;
}
#fourth1
{
    display:flex;
    margin:auto;

}
#fourthline
{
    display:flex;
    text-align:center;
    box-shadow:8px 6px 4px gray;
    width:350px;
    height: 50px;
}

